<hr>
<div class="row">
  <div class="column-md-6">
    <%= image_tag "MarkNelson.jpg", width: 250, alt: "Profile Image" %>
  </div>
  <div class="column-md-6">
    <div class="inner cover">
      <h1 class="cover-heading">Biography</h1>
      <p class="lead">Project 1</p>
      <p class="lead">Project 2</p>
      <p class="lead">Project 3</p>
      <p class="lead">Project 4</p>
      <p class="lead">Project 5</p>
      <p class="lead">Project 6</p>
      <p class="lead">Project 7</p>
      <p class="lead">
         <%= link_to "Learn More", about_me_path, class: "btn btn-lg btn-secondary" %>
      </p>
    </div>
  </div>
</div>